.venv/
.env
__pycache__/
db.sqlite3
media/
*.pyc
*.pyo       

.DS_Store
*.log
*.pot
*.py[cod]
*.sqlite3
*.swp
*.swo
*.~idea/
.vscode/
.idea/
*.egg-info/
coverage/
htmlcov/
.tox/
.pytest_cache/
celerybeat-schedule
instance/
.webassets-cache
.scrapy
docs/_build/
build/  